{% extends './modal-contents.j2' %}

{% block modal_styles %}
    c-test__modal
{% endblock %}

{% block modal_contents %}
    
    <div>
        
        {% include './header.j2' %}
        {% include './body.j2' %}
        {% include './footer.j2' %}

    </div>


{% endblock %}
